@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 98%);
    color: hsl(261, 53%, 34%);
    font-family: 'Urbanist',Verdana, sans-serif;

}
h1{
    text-align: center;
    text-transform: capitalize;
}
.form{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 370px;
    align-content: center;
}
.form input{
    padding: 0.7rem;
    border-radius: 0.6rem;
    border:3px solid transparent;
    transition: 1s all;
    box-shadow: 0 0 15px 1px #33333311;
    
}

input::placeholder {
    text-transform: capitalize;
  }
input.valid{
    border:3px solid rgb(46, 192, 46)
}

input+p{
    opacity: 0;
    height: 0;
    color: red;
    font-style: italic;
}
input.unvalid{
    border:3px solid rgb(201, 41, 41)
}
input.unvalid+p{
    opacity: 1;
    height: fit-content;
    transition: 1s all;
}

input:focus{
    border: 3px solid hsl(240, 100%, 86%);
    outline: none;
    transition: all 0s;
}